<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #333;
            color: aliceblue;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <nav><a href=""><h1>Logo</h1></a>
    <ul>
        <li>new</li>
        <li>old</li>
    </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>